body {
  background-color: darkgray;
}

span {
  color: white;
  text-align: left;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.1rem;
}

@font-face {
  font-family: "digital-7_monomono";
  src: url("./fonts/digital-7_mono-webfont.woff2") format("woff2"),
    url("./fonts/digital-7_mono-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.App {
  margin-top: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.main-container {
  border-radius: 25px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 670px;
  width: 420px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.buttons-container {
  height: 600px;
  width: 380px;
}

.screen {
  border-radius: 10px;
  margin: 6px auto;
  padding: 10px 3px;
  height: 90px;
  width: 365px;

  background-color: RGB(125, 140, 115);
  font-family: "digital-7_monomono";
  font-size: 95px;
  text-align: right;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.numbers-container {
  margin: 10px auto;
  height: 430px;
  width: 375px;
}

.btn-number {
  border: 0;
  background-color: #555555;
  color: hsl(50, 50%, 97%);
  border-radius: 5px;
  margin: 3px;
  width: 85px;
  height: 85px;
  font-size: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btn-number-sign {
  border: 0;
  background-color: orange;
  color: white;
  border-radius: 5px;
  margin: 3px;
  width: 85px;
  height: 85px;
  font-size: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btn-number:active {
  box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset,
    rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;
}

.btn-number-sign:active {
  box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset,
    rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;
}

.btn-number-large {
  border: 0;
  background-color: #333333;
  color: white;
  border-radius: 5px;
  margin: 3px;
  width: 267px;
  height: 75px;
  font-size: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btn-number-large:active {
  box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset,
    rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;
}

#equals {
  border: 0;
  background-color: orange;
  color: white;
  border-radius: 5px;
  margin: 3px;
  width: 85px;
  height: 75px;
  font-size: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#equals:active {
  box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset,
    rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;
}
